<div class="container-fluid text-left row">    
	  <div class="row content">
	    
	    <div class="col-sm-2 sidenav">
      </div>
      
      <div class="col-sm-8"> 
    
    <h2>Sign up</h2>
    
    <div id= mylink>
      <%= render "devise/shared/links" %>
      </div>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>
  <div id= "myform" class="container">
  <div id= "myfield" class="field">
    <%= f.label :first_name %> <br>
    <%= f.text_field :first_name, autofocus: true%>
  </div>
  <div id= "myfield" class="field">
    <%= f.label :last_name %> <br>
    <%= f.text_field :last_name %>
  </div>
  
  <div id= "myfield" class="field">
    <%= f.label :email %> <br>
    <%= f.email_field :email %>
  </div>
  
  <div id= "myfield" class="field">
    <%= f.label :location %> <br>
    <%= f.select :location_id, ['Doha', 'Al Wakrah', 'Umm Salal', 'Al Shahaneya', 'Al Rayyan', 'Al Khor', 'Al Shamal'] %>
  </div>
  
  <div id= "myfield" class="field">
    <%= f.label :user_type %> <br>
    <%= f.select :user_type, ['Individual', 'Business'] %>
    <!--%= f.check_box :user_type %>-->
  </div>
  
  <div id= "myfield" class="field">
    <%= f.label :password %> <br>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %>
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div id= "myfield" class="field">
    <%= f.label :password_confirmation %> <br>
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="actions">
    <br>
    <%= f.submit "Sign up" %>
  </div>
</div>
<% end %>

      </div>
      
      <div class="col-sm-2 sidenav">
      </div>
    
    </div>
</div>
      



