<div class="container-fluid text-left row">    
	  <div class="row content">
	    
	    <div class="col-sm-3 sidenav">
      </div>
      
      <div class="col-sm-6"> 
    
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= devise_error_messages! %>
        <div id= "myform" class="container">
  
  <h1>Sign Up</h1><br><br>
  
  <div id= "myfield" class="field">
    <%= f.label :first_name %>* <br>
    <%= f.text_field :first_name,:id => "fieldsize", autofocus: true %>
  </div><br>
  
  <div id= "myfield" class="field">
    <%= f.label :last_name %>* <br>
    <%= f.text_field :last_name,:id => "fieldsize" %>
  </div><br>
  
  <div id= "myfield" class="field">
    <%= f.label :email %>* <br>
    <%= f.email_field :email,:id => "fieldsize" %>
  </div><br>
  
  
   
  <div id= "myfield" class="field">
    <%= f.label :phone_number %>* <br>
    <%= f.text_field :phone_number,:id => "fieldsize" %>
  </div><br>
  
  
  
  <div id= "myfield" class="field">
    <%= f.label :location %>* <br>
    <%= f.select :location_id, ['Doha', 'Al Wakrah', 'Umm Salal', 'Al Shahaneya', 'Al Rayyan', 'Al Khor', 'Al Shamal'], {}, :id => "fieldsize" %>
  </div><br>
  
  <div id= "myfield" class="field">
    <%= f.label :user_type_id %>* <br>
    <%= f.collection_select  :user_type_id, UserType.all,  :id , :name, :prompt => "Select user type" %>
  </div><br>
  
  <div id= "myfield" class="field">
    <%= f.label :password %>*
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %>
    <%= f.password_field :password,:id => "fieldsize" %>
  </div><br>

  <div id= "myfield" class="field">
    <%= f.label :password_confirmation %> <br>
    <%= f.password_field :password_confirmation, :id => "fieldsize" %>
  </div>
<br>
  <div id= "mybutton" class="actions">
    <%= f.submit "Sign up",:id => "usernewbutt" %>
  </div>
  
  <div class="text-center">
    <%= render "devise/shared/links" %>
  </div>
  
</div>
  <% end %>
      </div> 
      
      <div class="col-sm-3 sidenav">
      </div>
    
    </div>
</div>

<!--https://stackoverflow.com/questions/7279891/set-html-id-attribute-in-rails-form-select-box-->