<p id="notice"><%= notice %></p>

<p>
  <strong>Rental:</strong>
  <%= @contract.rental %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @contract.amount %>
</p>

<p>
  <strong>Status:</strong>
  <%= @contract.status %>
</p>

<%= link_to 'Edit', edit_contract_path(@contract) %> |
<%= link_to 'Back', contracts_path %>
