<div class="row content">
  
  <div class="col-sm-1 sidenav"></div>
  
  <div class="col-sm-10 text-center">
    
    <div id="myform" class="container"> 
    
    <br><h1><b><%= @rental.item.name %></b></h1>
    <hr id="homehr2">
    <br>
    
    
    <div class="container-fluid text-left">
      
      <div class="itemShowAccount itemShowExample col-sm-6"></div>
      
      <div class="text-left col-sm-6">
        
        <div class="row">
          <div id="itemShowButt">Description</div>
        </div>
        
        <div class="row">
          <div id="itemShowButt3"><%= @rental.item.description %></div>
        </div>
      
        <br>
        
        <div class="row">
          <div class="col-sm-4" id="itemShowButt">Daily Price:</div> 
          <div class="col-sm-8" id="itemShowButt1"><%= @rental.item.daily_price %> QAR</div>
        </div>
        
        <div class="row">  
          <div class="col-sm-4" id="itemShowButt">Weekly Price:</div>
          <div class="col-sm-8" id="itemShowButt1"><%= @rental.item.weekly_price %> QAR</div>
        </div>
        
        <div class="row">  
          <div class="col-sm-4" id="itemShowButt">Monthly Price:</div>
          <div class="col-sm-8" id="itemShowButt1"><%= @rental.item.monthly_price %> QAR</div>
        </div>
        
        <div class="row">  
          <div class="col-sm-4" id="itemShowButt">Available Quantity:</div>
          <div class="col-sm-8" id="itemShowButt1"><%= @rental.item.quantity_left %></div>
        </div>
         
        <div class="row"> 
          <div class="col-sm-4" id="itemShowButt">Category:</div>
          <div class="col-sm-8" id="itemShowButt1"><%= @rental.item.category.name %></div>
        </div>
        
        <div class="row">
          <div class="col-sm-4" id="itemShowButt">Item Dimensions:</div>
          <div class="col-sm-8" id="itemShowButt1"><%= @rental.item.size %></div>
        </div>
        
        <div class="row">
          <div class="col-sm-4" id="itemShowButt">Item Weight:</div>
          <div class="col-sm-8" id="itemShowButt1"><%= @rental.item.weight %></div>
        </div>
        
        </div>

      </div>
      
      <br><br>
      
      <%= link_to 'Back', items_path, class:'btn btn-default', id:'itemShowButt2' %>
      
      <br>
      
    </div>
  
  <div class="row content">
    
  <%= form_for(@rental) do |f| %>
  <% if @rental.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@rental.errors.count, "error") %> prohibited this rental from being saved:</h2>

      <ul>
      <% @rental.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <%= f.hidden_field :user_id %>
  <%= f.hidden_field :item_id %>
  <%= f.hidden_field :status%>

  <div id= "myform" class="container">  
    <div id="myfield" class="field">
      <%= f.label :start_date %> <br />
      <%= f.date_select :start_date %>
    </div>
    
    <div id="myfield"class="field">
      <%= f.label :end_date %> <br />
      <%= f.date_select :end_date %>
    </div>
    
   <div id="myfield"class="field">
    <%= f.label :quantity %><br>
    <%= f.select(:quantity, 1.upto(@rental.item.quantity_left).to_a) %>
    </div>
    
    <div id= "mybutton" class="actions"> <br />
      <%= f.submit "Create rental",:id => "usernewbutt"%>
    </div>
  </div>
  <% end %>
  
  </div>
  
</div>

</div>

<div class="col-sm-1 sidenav"></div>