<div class="container-fluid text-left row">    
	  <div class="row content">
	    
	    <div class="col-sm-2 sidenav">
      </div>
      
      <div class="col-sm-8"> 

<%= form_for(@rental) do |f| %>
  <% if @rental.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@rental.errors.count, "error") %> prohibited this rental from being saved:</h2>

      <ul>
      <% @rental.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <%= f.hidden_field :user_id %>
  <%= f.hidden_field :item_id %>
 <%= f.hidden_field :status%>

<div id= "myrequestform" class="container">  
  <div class="field">
    <%= f.label :start_date %>
    <%= f.date_select :start_date %>
  </div>
  
  <div class="field">
    <%= f.label :end_date %>
    <%= f.date_select :end_date %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
</div>
<% end %>
      
      </div>
      
      <div class="col-sm-2 sidenav">
      </div>
  </div>
</div>
