<%= form_for(@rental) do |f| %>
  <% if @rental.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@rental.errors.count, "error") %> prohibited this rental from being saved:</h2>

      <ul>
      <% @rental.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <%= f.hidden_field :user_id %>
  <%= f.hidden_field :item_id %>
 <%= f.hidden_field :status%>

<div id= "myform" class="container">  
  <div id="myfield" class="field">
    <%= f.label :start_date %> <br />
    <%= f.date_select :start_date %>
  </div>
  
  <div id="myfield"class="field">
    <%= f.label :end_date %> <br />
    <%= f.date_select :end_date %>
  </div>

  <div id= "mybutton" class="actions"> <br />
    <%= f.submit "Create rental",:id => "usernewbutt"%>
  </div>
</div>
<% end %>