    <h2 style="color:Black;"> Current rentals</h2>
    <table class="table" style="color:Black;">
        <thead>
          <tr>
            <th>Item</th>
            <th>User</th>
            <th>Days</th>
            <th>Ratings</th>
          </tr>
        </thead>
        <tbody>
          <% @rentals.each do |rentals| %>
          <tr>
            <td><%= rentals.item.name %></td>
            <td><%= rentals.user.name %></td>
            <td><%= rentals.days %></td>
            <td></td>
          </tr>
        <% end %>
        </tbody>
      </table>
      
      <h2 style="color:Black;"> Past rentals</h2>
      <table class="table" style="color:Black;">
        <thead>
          <tr>
            <th>Item</th>
            <th>User</th>
            <th>Days</th>
            <th>Ratings</th>
            <th>PDF</th>
          </tr>
        </thead>
        <tbody>
          <% @rentals.each do |rentals| %>
          <tr>
            <td><%= rentals.item.name %></td>
            <td><%= rentals.user.name %></td>
            <td><%= rentals.days %></td>
            <td></td>
            <td></td>
          </tr>
        <% end %>
        </tbody>
      </table>
      </div>