<div class="container-fluid text-center">    
  <div class="row content">
    
    
    
    <div class="col-sm-2 sidenav"></div>
    
    
    
    <div class="col-sm-8 text-left">

    
    <br><h1 class="text-center"><%= @item.name %></h1>
    
    <h3><%= @item.description %></h3>
    
    <h5>Category: <%= @item.category.name %></h5>
    
    <h5>Size: <%= @item.size %></h5>
    
    <h5>Weight: <%= @item.weight %></h5>
    
    <h5>Quantity: <%= @item.quantity_left %></h5>
    
    <h5>Daily Price: <%= @item.daily_price %></h5>
    
    <h5>Weekly Price: <%= @item.weekly_price %></h5>
    
    <h5>Monthly Price: <%= @item.monthly_price %></h5>
    
    <%= link_to 'Edit', edit_item_path(@item), class:'btn btn-default' %> |
    <%= link_to 'Back', items_path, class:'btn btn-default' %>
    
    </div>
    
    
    
    <div class="col-sm-2 sidenav"></div>
    
    
  
    
  </div>
</div>


