<p id="notice"><%= notice %></p>

<p>
  <strong>Date start</strong>
  <%= @transaction.start_date %>
</p>

<p>
  <strong>Item name:</strong>
  <%= @transaction.item_name %>
</p>

<p>
  <strong>Borrower:</strong>
  <%= @transaction.borrower_id %>
</p>

<p>
  <strong>Lender:</strong>
  <%= @transaction.lender_id %>
</p>

<p>
  <strong>Item:</strong>
  <%= @transaction.item %>
</p>

<p>
  <strong>Rental:</strong>
  <%= @transaction.rental %>
</p>

<%= link_to 'Edit', edit_transaction_path(@transaction) %> |
<%= link_to 'Back', transactions_path %>
