<!DOCTYPE html>
<html>
<head>
  <title>Sahem</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:700">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
</head>

<nav class="continer-fluid navbar">
    
  <div class="col-sm-1"></div>
  
  <div class="col-sm-10">
  
    <div class="navbar-header navbar-default">
        
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class = "sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      
      <%= image_tag "logotransparent.png", class:'navbar-brand' %>
          
    </div>
      
    <div class="collapse navbar-collapse" id="myNavbar">
      
      <ul class="nav navbar-nav navbar-right"><br><br>
      
        <li class="active"><%= link_to root_path do%> Home  <% end %></li>
        <li class="nav-divider"></li>  
        <li><%= link_to items_path do %> Equipment <b class = "caret"></b><% end %></li>
        <li class="nav-divider"></li>  
      
        <% if user_signed_in? %>
          
          <li><%= link_to new_item_path do %>  Add New Items  <% end %></li>
          <li class="nav-divider"></li>  
          <li class= "active"><%= link_to  user_path(current_user.id) do %><%= current_user.name %> <i class="glyphicon glyphicon-user"> </i><% end %></li>
          <li class="nav-divider"></li>        
          <li data-behavior="notifications" data-notifications='<%= render template: "notifications/index", formats: [:json] %>'>
          <a class="dropdown-toggle nav-link" type="button" data-behavior="notifications-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">  <span data-behavior="unread-count"></span> <i class="glyphicon glyphicon-bell"></i></a>
          <div class="dropdown-menu" aria-labelledby="dropdownMenu1" data-behavior="notification-items"></div></li>
          <li class="nav-divider"></li>
          <li><%= link_to destroy_user_session_path, :method => :delete do %>  Sign Out <i class="glyphicon glyphicon-log-out"></i><% end %></li>
          
        <% else %>
          <li><%= link_to user_session_url do %><i class="glyphicon glyphicon-log-in"></i>  Sign In<% end %></li>
        <% end %>
        
      </ul>
      
    </div>
  
  </div>
  
    
  <div class="container-fluid">
    
    <ul class="nav navbar-nav" id="itembar-nav"> 
    
      <div class="row" id="orange">
        <%= form_tag search_items_path do %>
      	<div class="input-group stylish-input-group">
        <input type="text" class="form-control" name ="query" placeholder="Search an Item" >
        <span class="input-group-addon">
            <button type="submit">
                <span class="glyphicon glyphicon-search"></span>
            </button>  
        </span>
        </div>
        <% end %>
      </div>
      
    </ul>  
    
  </div>
  
</nav>
  
  
<%= yield %>


<footer class="footer">

  <p class="footer-links">
    <a id="footer" href="#">Homepage</a>
    ·
    <a id="footer" href="#">All Items</a>
    ·
    <a id="footer" href="#">Add New Item</a>
    ·
    <a id="footer" href="#">Sign In</a>
  </p>

  <p>SAHEM &copy; 2017</p>

</footer>

</html>